<div class="row">
  <div class="col-lg-6">
    {{size}}
    <file-upload (uploadComplete)="uploadComplete($event)" [size]="size"></file-upload>
  </div>
  <div class="col-lg-6">
    <label class="custom-file">
      <input type="file" #fileupload class="custom-file-input">
      <span class="custom-file-control"></span>
    </label>
  </div>
  <div class="col-lg-12">
    <div class="card d-inline-flex mx-10" *ngFor="let item of list">
       <div class="card-block">
        <img src="http://labe-storage.s3-website-eu-west-1.amazonaws.com/images{{size}}/{{item.filename}}">
      </div>
      <div class="card-footer text-muted">
        {{item.name}}
      </div>
    </div>
  </div>
</div>